body{
    margin-left: 5%;
    margin-right:5%;
}
a{
    text-decoration: none;
}
.navigation li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding-right: 5px;
}
.navigation li a{
    text-decoration: none;
    color: white;
}
nav{
    margin-left: 2px;
    margin-right: -8px;
}
.register{
    float: right;
    margin-right: 10%;
    padding-left: 5px;
    padding-top: 7px;
}
.login {
    float: right;
    padding-right: 4px;
    padding-top: 7px;
}
.main-content{
    float:left;
    /*max-width: 70%;*/
    width: 70%;
    overflow: auto;
}
.side-content{
    float: right;
    /*max-width: 30%;*/
   width: 28%;
}
.post-item{
    margin:8px;
    overflow: auto;
    padding: 5px;
    border-radius: 5px;

}
.categories{
    margin:8px;
    overflow: auto;
    padding: 5px;
    border-radius: 5px;
}
.login-Form{
    margin-left: 45%;
    margin-right: 15%;
    margin-top: 2%;
}