{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block posts %}
        <form class="border  p-4 mt-2" action="" method="post">
    {%  csrf_token %}
    <fieldset class="mt mb-2">
        <legend class="border-bottom  mb-3">Update Post</legend>
         {{ form|crispy }}
    </fieldset>
      <button class="btn-sm btn-outline-info" type="submit">Update</button>
    </form>
{% endblock posts %}
{% block trial %}
    {#  empty to avoid iterating over posts from the base.html  #}
{% endblock trial %}